<header class="navbar navbar-static-top" id="top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ng-href="asd">文档管理</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li ng-if="isLogin">
                <a ng-href="new">新建</a>
            </li>
            <li ng-if="!isLogin"><a ng-href="login">登录</a></li>
            <li ng-if="isLogin"><a ng-click="logout()" style="cursor: pointer;">退出</a></li>
        </ul>
    </div>
</header>
<div class="container" ui-view="main-container">
    <div class="row">
        <div class="col-xs-3" on-list-ready>
            <div class="list">
                <h3>目录</h3>
                <div ng-if="docs"
                     style="-webkit-border-radius:5px ;-moz-border-radius: 5px;border-radius: 5px;" >
                    <script type="text/ng-template" id="group-templates.html">
                        <div class="panel {{panelClass || 'panel-default'}}">
                            <div class="panel-heading">
                                <h4 class="panel-title" style="color:#000">
                                    <b><a tabindex="0" href="{{heading}}/0" class="accordion-toggle"
                                          ng-click="toggleOpen()" uib-accordion-transclude="heading"><span
                                            ng-class="{'text-muted': isDisabled}">{{heading}}</span></a></b>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" uib-collapse="!isOpen">
                                <div class="panel-body" style="text-align: right" ng-transclude></div>
                            </div>
                        </div>
                    </script>
                    <uib-accordion>
                        <uib-accordion-group heading="{{doc.name}}" ng-repeat="doc in docs"
                                             template-url="group-templates.html" is-open="doc.isOpen">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="api  in doc.apiList ">
                                    <a ng-href="{{doc.name}}/{{$index}}" style="cursor: pointer;">{{api.name}}</a>
                                </li>
                            </ul>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
            </div>
        </div>
        <div class="col-xs-9" ui-view="apiContent">
            <div class="page-header">
                <h3>文档操作日志</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item list-group-item-success" ng-repeat="log in logs">
                    用户：{{log.user}} ; 操作:{{log.action}} ; 文档：{{log.target}} ；
                    <span ng-if="log.apiName"> 接口：<span ng-if="!log.apiIndex">{{log.apiName}}</span><a ng-href="{{log.target}}/{{log.apiIndex}}" ng-if="log.apiIndex"> {{log.apiName}} </a></span> 时间: {{log.time}}
                </li>
            </ul>
        </div>
        <div class="col-xs-1" ng-if="isLogin">
            <div class="tools">
                <ul class="list">
                    <li><a ng-click="editDoc()"><span class="glyphicon glyphicon-pencil" title="编辑"></span></a></li>
                    <li><a ng-click="deleteDoc()"><span class="glyphicon glyphicon-minus" title="删除"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="confirm.html">
    <div class="modal-header">
        <h3 class="modal-title">警告</h3>
    </div>
    <div class="modal-body">
        <p>确定删除该文档？</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
