<uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="编辑">
<div style="padding: 30px;border: 1px solid #ddd;" on-new-form-ready class="editContainer" >
    <form name="addForm" ng-submit="addApi(addForm)" class="form-horizontal">
        <div class="apiBody" ng-if="docType==0">
            <p>
                接口名称: <input type="text" ng-model="newApi.name" style="margin-left: 15px;">
            </p>
            <p>
                请求路径: <input type="text" ng-model="newApi.api" style="margin-left: 15px;">
            </p>
            <p>
                请求模式:
                <select ng-model="newApi.method" style="margin-left: 15px;">
                    <option value="" selected>请选择</option>
                    <option value="GET">GET</option>
                    <option value="POST">POST</option>
                </select>
            </p>
            <p>请求参数(header):
                <button class="btn btn-primary" type="button" ng-click="addParams($event)">新增</button>
            </p>
            <table class="table table-bordered" id="header-table">
                <thead>
                <th style="width:20%;word-wrap: break-word;">参数名称</th>
                <th style="width:20%;word-wrap: break-word;">类型</th>
                <th style="width:10%;word-wrap: break-word;">必填</th>
                <th style="width:30%;word-wrap: break-word;">说明</th>
                <th style="width:20%;word-wrap: break-word;">操作</th>
                </thead>
                <tbody>
                <tr ng-repeat="param in newApi.params" ng-if="newApi.params">
                    <td><input type="text" ng-model="param.apiName"/></td>
                    <td><input type="text" ng-model="param.type"/></td>
                    <td><input type="text" ng-model="param.require"/></td>
                    <td><input type="text" ng-model="param.apiValue"/></td>
                    <td><a ng-click="delParam($index)" class="btn btn-danger">删除</a></td>
                </tr>
                </tbody>
            </table>

            <p>请求参数(urlParam):
                <button class="btn btn-primary" type="button" ng-click="addRes($event)">新增</button>
            </p>
            <table class="table table-bordered" id="res-table">
                <thead>
                <th style="width:20%;word-wrap: break-word;">参数名称</th>
                <th style="width:20%;word-wrap: break-word;">类型</th>
                <th style="width:10%;word-wrap: break-word;">必填</th>
                <th style="width:30%;word-wrap: break-word;">说明</th>
                <th style="width:20%;word-wrap: break-word;">操作</th>
                </thead>
                <tbody>
                <tr ng-repeat="res in newApi.res" ng-if="newApi.res">
                    <td>
                        <input type="text" ng-model="res.key"/>
                    </td>
                    <td>
                        <input type="text" ng-model="res.type"/>
                    </td>
                    <td><input type="text" ng-model="res.require"/></td>
                    <td>
                        <input type="text" ng-model="res.revalue"/>
                    </td>
                    <td><a ng-click="delRes($index)" class="btn btn-danger">删除</a></td>
                </tr>
                </tbody>
            </table>

            <p>
                JSON返回示例:
            </p>
            <textarea ng-model="newApi.demo" style="min-width:100%;max-width:100%;" rows="6"></textarea>
            <br/>
            <p>
                接口说明:
            </p>
            <textarea ng-model="newApi.description" style="min-width:100%;max-width:100%;" rows="6"></textarea>
            <input type="submit" value="保存" class="btn btn-primary"/>
        </div>
        <div class="apiBody" ng-if="docType==1">
            <p>
                接口名称: <input type="text" ng-model="newApi.name" style="margin-left: 15px;">
            </p>
            <p>
                接口定义: <input type="text" ng-model="newApi.api" style="margin-left: 15px;">
            </p>
            <p>
                <span style="vertical-align: top;">功能描述:</span>
                <textarea ng-model="newApi.description" style="max-width:100%;min-width:100%;"></textarea>
            </p>
            <p>参数:
                <button class="btn btn-primary" type="button" ng-click="addParams($event)">新增</button>
            </p>
            <table class="table table-bordered">
                <thead>
                <th style="width:20%;word-wrap: break-word;">参数名称</th>
                <th style="width:20%;word-wrap: break-word;">类型</th>
                <th style="width:10%;word-wrap: break-word;">必填</th>
                <th style="width:20%;word-wrap: break-word;">描述</th>
                <th style="width:10%;word-wrap: break-word;">默认值</th>
                <th style="width:20%;word-wrap: break-word;">操作</th>
                </thead>
                <tbody>
                <tr ng-repeat="param in newApi.params" ng-if="newApi.params">
                    <td><input type="text" ng-model="param.apiName"/></td>
                    <td><input type="text" ng-model="param.type"/></td>
                    <td><input type="text" ng-model="param.require"></td>
                    <td><input type="text" ng-model="param.apiValue"/></td>
                    <td><input type="text" ng-model="param.defaultValue"></td>
                    <td><a ng-click="delParam($index)" class="btn btn-danger">删除</a></td>
                </tr>
                </tbody>
            </table>

            <p>返回值:
                <button class="btn btn-primary" type="button" ng-click="addRes($event)">新增</button>
            </p>
            <table class="table table-bordered">
                <thead>
                <th style="width:20%;word-wrap: break-word;">参数名称</th>
                <th style="width:20%;word-wrap: break-word;">类型</th>
                <th style="width:30%;word-wrap: break-word;">说明</th>
                <th style="width:20%;word-wrap: break-word;">操作</th>
                </thead>
                <tbody>
                <tr ng-repeat="res in newApi.res" ng-if="newApi.res">
                    <td>
                        <input type="text" ng-model="res.key"/>
                    </td>
                    <td>
                        <input type="text" ng-model="res.type"/>
                    </td>
                    <td>
                        <input type="text" ng-model="res.revalue"/>
                    </td>
                    <td><a ng-click="delRes($index)" class="btn btn-danger">删除</a></td>
                </tr>
                </tbody>
            </table>
            <p>回调参数:
                <button class="btn btn-primary" type="button" ng-click="addCallbackParam($event)">新增</button>
            </p>
            <table class="table table-bordered">
                <thead>
                <th style="width:20%;word-wrap: break-word;">参数名称</th>
                <th style="width:20%;word-wrap: break-word;">类型</th>
                <th style="width:10%;word-wrap: break-word;">必填</th>
                <th style="width:20%;word-wrap: break-word;">描述</th>
                <th style="width:10%;word-wrap: break-word;">默认值</th>
                <th style="width:20%;word-wrap: break-word;">操作</th>
                </thead>
                <tbody>
                <tr ng-repeat="param in newApi.callbackParams" ng-if="newApi.callbackParams">
                    <td><input type="text" ng-model="param.apiName"/></td>
                    <td><input type="text" ng-model="param.type"/></td>
                    <td><input type="text" ng-model="param.require"></td>
                    <td><input type="text" ng-model="param.apiValue"/></td>
                    <td><input type="text" ng-model="param.defaultValue"></td>
                    <td><a ng-click="delCallbackParam($index)" class="btn btn-danger">删除</a></td>
                </tr>
                </tbody>
            </table>

            <p>
                示例:
            </p>
            <textarea ng-model="newApi.demo" style="min-width:100%;max-width:100%;" rows="6"></textarea>
            <br/>
            <p>
                补充说明:
            </p>
            <textarea ng-model="newApi.extractComment" style="min-width:100%;max-width:100%;" rows="6"></textarea>
            <input type="submit" value="保存" class="btn btn-primary"/>
        </div>
    </form>
</div>
        </uib-tab>
    <uib-tab index="1" heading="预览">
        <div style="padding: 30px;" on-new-form-ready class="editContainer">
                <div class="apiBody" ng-if="docType==0">
                    <p>
                        请求名称：{{newApi.name}}
                    </p>
                    <p>
                        请求路径: {{newApi.api}}
                    </p>
                    <p>
                        请求模式: {{newApi.method}}
                    </p>
                    <p>请求参数(header):
                    </p>
                    <table class="table table-bordered">
                        <thead>
                        <th style="width:20%;word-wrap: break-word;">参数名称</th>
                        <th style="width:20%;word-wrap: break-word;">类型</th>
                        <th style="width:20%;word-wrap: break-word;">必填</th>
                        <th style="width:40%;word-wrap: break-word;">说明</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="param in newApi.params" ng-if="newApi.params">
                            <td>{{param.apiName}}
                            </td>
                            <td>{{param.type}}
                            </td>
                            <td>{{param.require}}</td>
                            <td>{{param.apiValue}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <p>请求参数(urlParam):
                    </p>
                    <table class="table table-bordered">
                        <thead>
                        <th style="width:20%;word-wrap: break-word;">参数名称</th>
                        <th style="width:20%;word-wrap: break-word;">类型</th>
                        <th style="width:20%;word-wrap: break-word;">必填</th>
                        <th style="width:40%;word-wrap: break-word;">说明</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="res in newApi.res" ng-if="newApi.res">
                            <td>
                                {{res.key}}
                            </td>
                            <td>
                                {{res.type}}
                            </td>
                            <td>{{res.require}}</td>
                            <td>
                                {{res.revalue}}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <p>
                        JSON返回示例:
                    </p>
                    <pre>{{newApi.demo}}</pre>
                    <br/>
                    <p>
                        接口说明:
                    </p>
                    <pre>{{newApi.description}}</pre>
                </div>
                <div class="apiBody" ng-if="docType==1">
                    <h3>{{newApi.name}}</h3>
                    <p>
                        接口定义:&nbsp;&nbsp;{{newApi.api}}
                    </p>
                    <p>功能描述:&nbsp;&nbsp;{{newApi.description}}</p>
                    <p>参数:</p>
                    <table class="table table-bordered">
                        <thead>
                        <th style="width:20%;word-wrap: break-word;">参数名称</th>
                        <th style="width:20%;word-wrap: break-word;">类型</th>
                        <th style="width:20%">必填</th>
                        <th style="width:30%;word-wrap: break-word;">描述</th>
                        <th style="width:10%;word-wrap: break-word;">默认值</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="param in newApi.params" ng-if="newApi.params">
                            <td>{{param.apiName}}</td>
                            <td>{{param.type}}</td>
                            <td>{{param.require}}</td>
                            <td>{{param.apiValue}}</td>
                            <td>{{param.defaultValue}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <p>返回值:</p>
                    <table class="table table-bordered">
                        <thead>
                        <th style="width:20%;word-wrap: break-word;">名称</th>
                        <th style="width:40%;word-wrap: break-word;">类型</th>
                        <th style="word-wrap: break-word;">描述</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="res in newApi.res" ng-if="newApi.res">
                            <td>
                                {{res.key}}
                            </td>
                            <td>{{res.type}}</td>
                            <td>
                                {{res.revalue}}
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <p>回调参数:</p>
                    <table class="table table-bordered">
                        <thead>
                        <th style="width:20%;word-wrap: break-word;">参数名称</th>
                        <th style="width:20%;word-wrap: break-word;">类型</th>
                        <th style="width:20%">必填</th>
                        <th style="width:30%;word-wrap: break-word;">描述</th>
                        <th style="width:10%;word-wrap: break-word;">默认值</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="param in newApi.callbackParams" ng-if="newApi.callbackParams">
                            <td>
                                {{param.apiName}}
                            </td>
                            <td>{{param.type}}</td>
                            <td>{{param.require}}</td>
                            <td>
                                {{param.apiValue}}
                            </td>
                            <td>{{param.defaultValue}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <p>
                        示例:
                    </p>
            <pre>
{{newApi.demo}}
        </pre>
                    <p>
                        补充说明:
                    </p>
                    <pre>{{newApi.extractComment}}</pre>
                </div>
        </div>
    </uib-tab>
    </uib-tabset>
