
.login-box{
    width:300px;
    margin:100px auto 0;
}
.main-container{
    display: flex;
}
.content-wrapper{
    height:100% ;
    position: relative;
}
.main-container{
    position: absolute;
    top:80px;
    bottom:15px;
    margin:0 auto;
    width:80%;
    left:10%;
    padding:0;
}
.container-list{
    border:1px solid #eee;
    border-radius:5px;
    width:20%;
    height:100%;
}
.content-container{
    margin-left:3%;
    width:75%;
    height:100%;
    /*border:1px solid #eee;*/
    border-radius:5px;
    padding:0 5px;
    overflow: auto;
}
.log-container{
    padding:0 10px;
}
.log-container h1{
    margin:5px;
}
.log-container .logs{
    padding:10px;
}
 .log-item p{
    margin:5px;
    padding:5px 10px;
    border-radius:5px;
    background: #dff0d8;
    color: #3c763d;
}
.log-item p a{
    color: #337ab7;
    text-decoration: none;
}
.view-api{
    padding:0 15px;
}
.param-header{
    margin-top:35px;
}
.api-update{
    text-align: right;
}
.container-list a{
    text-decoration: none;
    color: #000;
    display: block;
    padding:12px;
}
.error-button{
    position: absolute;
    top:35px;
    right: 45px;
}
.error-button a{
    font-size:14px;
    color: #000;
    text-decoration: none;
}